<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.forum.mapper.SharedForumCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share.pojo.SharedForumComment">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="creation_date" property="creationDate"/>
        <result column="forum_id" property="forumId"/>
        <association property="sharedForum" javaType="com.share.pojo.SharedForum">
            <id property="id" column="id"/>
            <result property="title" column="f_title"/>
            <result property="content" column="f_content"/>
        </association>
    </resultMap>

    <select id="findForymCommentByUserID" resultMap="BaseResultMap">
        SELECT c.id, c.user_id, c.forum_id, c.creation_date, c.content, f.title AS f_title, f.content AS f_content
        FROM shared_forum_comment AS c,
                shared_forum AS f
                WHERE c.forum_id = f.id
                AND c.user_id = #{userId}
                LIMIT #{pageIndex}, #{forumpagesize}
    </select>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, content, creation_date, forum_id
    </sql>


</mapper>
