<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.ShareBlogsInvitationReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share.pojo.ShareBlogsInvitationReply">
        <id column="id" property="id" />
        <result column="invitation_givet_id" property="invitationGivetId" />
        <result column="comment_user_id" property="commentUserId" />
        <result column="comment_retext" property="commentRetext" />
        <result column="comment_date" property="commentDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, invitation_givet_id, comment_user_id, comment_retext, comment_date
    </sql>

</mapper>
