<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.forum.mapper.SharedForumCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share.pojo.SharedForumComment">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="creation_date" property="creationDate"/>
        <result column="forum_id" property="forumId"/>
        <association property="sharedForum" javaType="com.share.pojo.SharedForum">
            <id property="id" column="id"/>
            <result property="title" column="f_title"/>
            <result property="content" column="f_content"/>
        </association>
    </resultMap>

    <resultMap id="findCountCommentForUser" type="com.share.pojo.SharedForumComment">
        <result property="commentCount" column="COMMENTCOUNT"/>
        <association property="sharedUsers" javaType="com.share.pojo.SharedUsers">
            <id property="id" column="U_Id"/>
            <result property="headImg" column="U_HEADIMG"/>
            <result property="realName" column="U_REALNAME"/>
        </association>
    </resultMap>

    <select id="findForymCommentByUserID" resultMap="BaseResultMap">
        SELECT c.id, c.user_id, c.forum_id, c.creation_date, c.content, f.title AS f_title, f.content AS f_content
        FROM shared_forum_comment AS c,
                shared_forum AS f
                WHERE c.forum_id = f.id
                AND c.user_id = #{userId}
                LIMIT #{pageIndex}, #{forumpagesize}
    </select>

    <!--获取前12位回复榜人物-->
    <select id="findCountCommentForUser" resultMap="findCountCommentForUser">
            SELECT
              COUNT(1)   AS COMMENTCOUNT,
              u.id       AS U_Id,
              u.realName AS U_REALNAME,
              u.head_img AS U_HEADIMG
            FROM shared_forum_comment c
              LEFT JOIN shared_users u
                ON u.id = c.user_id
            GROUP BY u.id
            LIMIT 0,10
    </select>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, content, creation_date, forum_id
    </sql>

    <!--删除评论以及点赞-->
    <delete id="deleteComment">
        DELETE c,
          g
        FROM shared_forum_comment c
          LEFT JOIN shared_forum_comment_give g
            ON g.forum_comment_id = c.id
        WHERE c.id = #{id}
    </delete>


</mapper>
