<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.users.mapper.SharedlFriendRequestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share.pojo.SharedlFriendRequest">
        <id column="id" property="id"/>
        <result column="me_id" property="meId"/>
        <result column="request_id" property="requestId"/>
        <result column="status" property="status"/>
        <result column="creation_date" property="creationDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <!--findLstByUserId的外部resutMap-->
    <resultMap id="findLstByUserIdResultMap" type="com.share.pojo.SharedlFriendRequest">
        <id column="R_ID" property="id"/>
        <result column="R_STATUS" property="status"/>
        <result column="R_REQUSTDATE" property="creationDate"/>
        <result column="R_ME_ID" property="meId"/>
        <result column="R_REQUEST_ID" property="requestId"/>
        <association property="sharedUsers" javaType="com.share.pojo.SharedUsers">
            <id column="U_ID" property="id"/>
            <result column="U_HEADIMG" property="headImg"/>
            <result column="U_REALNAME" property="realName"/>
            <result column="U_USERNAME" property="userName"/>
        </association>
        <association property="friendRequestStatus" javaType="com.share.pojo.SharedlFriendRequestStatus">
            <result column="STATUS_NAME" property="statusName"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, me_id, request_id, status, creation_date, update_date
    </sql>
    <!--根据用户id 查询所有请求-->
    <select id="findLstByUserId" resultMap="findLstByUserIdResultMap">
        SELECT r.status        AS R_STATUS,
               r.creation_date AS R_REQUSTDATE,
               r.id            AS R_ID,
               u.head_img      AS U_HEADIMG,
               u.id            AS U_ID,
               u.userName      AS U_USERNAME,
               u.realName      AS U_REALNAME,
               s.status_name   AS STATUS_NAME,
               r.me_id         AS R_ME_ID,
               r.request_id    AS R_REQUEST_ID
        FROM sharedl_friend_request r
                 LEFT JOIN shared_users u ON u.id = r.me_id
                 LEFT JOIN sharedl_friend_request_status s ON s.id = r.status
        WHERE r.me_id = #{userId}
    </select>
    <select id="requestFindFriendByUserId" resultMap="findLstByUserIdResultMap">
        SELECT r.status        AS R_STATUS,
               r.creation_date AS R_REQUSTDATE,
               r.id            AS R_ID,
               u.head_img      AS U_HEADIMG,
               u.id            AS U_ID,
               u.userName      AS U_USERNAME,
               u.realName      AS U_REALNAME,
               s.status_name   AS STATUS_NAME,
               r.me_id         AS R_ME_ID,
               r.request_id    AS R_REQUEST_ID
        FROM sharedl_friend_request r
                 LEFT JOIN shared_users u ON u.id = r.me_id
                 LEFT JOIN sharedl_friend_request_status s ON s.id = r.status
        WHERE r.request_id = #{userId}
    </select>


</mapper>
