<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.users.mapper.SharedReceiveMailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share.pojo.SharedReceiveMail">
        <id column="id" property="id"/>
        <result column="hair_id" property="hairId"/>
        <result column="hair_name" property="hairName"/>
        <result column="receive_id" property="receiveId"/>
        <result column="creation_date" property="creationDate"/>
        <result column="email_digest" property="emailDigest"/>
        <result column="email_content" property="emailContent"/>
        <result column="state" property="state"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, hair_id, hair_name, receive_id, creation_date, email_digest, email_content, state
    </sql>

    <select id="selectSharedReceiveMailList" resultType="com.share.pojo.SharedReceiveMail">
        SELECT
        <include refid="Base_Column_List"/>
        FROM shared_receive_mail
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <update id="updateState">
        UPDATE shared_receive_mail
        SET state = #{state}
        WHERE id IN
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

</mapper>
