<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.forum.mapper.SharedForumCommentReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share.pojo.SharedForumCommentReply">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="creation_date" property="creationDate" />
        <result column="comment_id" property="commentId" />
        <result column="comment_byuser_id" property="commentByuserId" />
        <result column="comment_reply_id" property="commentReplyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, content, creation_date, comment_id, comment_byuser_id, comment_reply_id
    </sql>

</mapper>
