<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.invitation.mapper.SharediInvitationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share.pojo.SharediInvitation">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="creation_date" property="creationDate" />
        <result column="update_date" property="updateDate" />
        <result column="sharedl_classify_id" property="sharedlClassifyId" />
        <result column="invitation_title" property="invitationTitle" />
        <result column="invitation_digest" property="invitationDigest" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, content, creation_date, update_date, sharedl_classify_id, invitation_title, invitation_digest
    </sql>

</mapper>
