<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.users.mapper.SharedUsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.share.pojo.SharedUsers">
        <id column="id" property="id"/>
        <result column="userName" property="userName"/>
        <result column="realName" property="realName"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="position_id" property="positionId"/>
        <result column="birthday" property="birthday"/>
        <result column="head_img" property="headImg"/>
        <result column="state_id" property="stateId"/>
        <result column="stop_num" property="stopNum"/>
        <result column="creation_date" property="creationDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="violation_num" property="violationNum"/>
    </resultMap>

    <!--findUsersListByUserNameOrRealName的外部resultMap-->
    <resultMap id="findUsersListByUserNameOrRealNameMap" type="com.share.vo.SharedUsersJSONVO">
        <id column="U_ID" property="id"/>
        <result column="U_REALNAME" property="realName"/>
        <result column="U_PHONE" property="phone"/>
        <result column="U_CREATION_DATE" property="creationDate"/>
        <result column="U_USERNAME" property="userName"/>
        <result column="P_POSITION" property="positionName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userName, realName, password, phone, position_id, birthday, head_img, state_id, stop_num, creation_date, update_date, violation_num
    </sql>

    <!--删除用户以及用户下的所有东西-->
    <delete id="removeById">
          DELETE
             u,e,att,fans,fans_fans,b,c,reply,give,invitation,
             commm_invitation,invitation_give,invitation_reply,
             friend_request_me,friend_request_frend,friends_me,
             friends_friend,comment_user_id,commt_relpy_user,comm_user_id
             ,invitation_reply_users_id,invitation_reply_Byusers_id
         FROM shared_users u
         LEFT JOIN shared_email e
         ON e.hair_id = u.id
         LEFT JOIN shared_attention att
         ON att.me_id = u.id
         LEFT JOIN shared_fans fans
         ON fans.me_id = u.id
         LEFT JOIN shared_fans fans_fans
         ON fans_fans.fans_id = u.id
         LEFT JOIN share_blogs b
         ON b.user_id = u.id
         LEFT JOIN share_blogs_comment c
         ON c.blogs_id = b.id
         LEFT JOIN share_blogs_comment_reply reply
         ON reply.comment_id = c.id
         LEFT JOIN share_blogs_give give
         ON give.blogs_id = b.id
         LEFT JOIN sharedi_invitation invitation
         ON invitation.user_id = u.id
         LEFT JOIN sharedi_invitation_comment commm_invitation
         ON commm_invitation.invitation_id = invitation.id
         LEFT JOIN sharedi_invitation_give invitation_give
         ON invitation_give.invitataion_id = invitation.id
         LEFT JOIN share_invitation_comment_reply invitation_reply
         ON invitation_reply.invitation_comment_id = commm_invitation.id
         LEFT JOIN sharedl_friend_request friend_request_me
         ON friend_request_me.me_id = u.id
         LEFT JOIN sharedl_friend_request friend_request_frend
         ON friend_request_frend.request_id = u.id
         LEFT JOIN shared_friends friends_me
         ON friends_me.me_id = u.id
         LEFT JOIN shared_friends friends_friend
         ON friends_friend.friends_id = u.id
         LEFT JOIN share_blogs_comment comment_user_id
         ON comment_user_id.comment_user_id = u.id
         LEFT JOIN share_blogs_comment_reply commt_relpy_user
         ON commt_relpy_user.comment_byuser_id = u.id
         LEFT JOIN sharedi_invitation_comment comm_user_id
         ON comm_user_id.comment_user_id = u.id
         LEFT JOIN share_invitation_comment_reply invitation_reply_users_id
         ON invitation_reply_users_id.comment_user_id = u.id
         LEFT JOIN share_invitation_comment_reply invitation_reply_Byusers_id
         ON invitation_reply_Byusers_id.comment_byuser_id = u.id
         WHERE u.id = #{userId}
    </delete>

    <!--据传入的list集合，批量查询好友数据-->
    <select id="findListByUserIdList" resultType="com.share.vo.SharedUsersVO">
        SELECT u.id,u.head_img,u.individual,u.realName,u.phone,u.birthday,u.sex,u.userName
        FROM shared_users u
        WHERE u.id IN
        <foreach collection="list" separator="," open="(" close=")" item="userId">
            #{userId}
        </foreach>
    </select>

    <!--根据传入的用户名和职位查询-->
    <select id="findUsersListByUserNameOrRealName" resultMap="findUsersListByUserNameOrRealNameMap">
        SELECT
        u.id AS U_ID,
        u.realName AS U_REALNAME,
        u.creation_date AS U_CREATION_DATE,
        u.phone AS U_PHONE,
        u.userName AS U_USERNAME,
        p.position_name AS P_POSITION
        FROM shared_users u,sharedl_position p
        WHERE u.position_id = p.id
        <if test="name != null and name != ''">
            AND
            (
            u.userName
            LIKE concat('%',#{name},'%')
            OR u.realName
            LIKE concat('%',#{name},'%')
            )
        </if>
        <if test="position != null and position > 0">
            AND u.position_id = #{position}
        </if>
    </select>


</mapper>
